

html {
    font-family: "Roboto", sans-serif;
}

body {
    color: white;
    height: 100vh;
    display: flex;
    margin:0px;
    padding:0px;
    flex-direction: column;    
}

.ONE {
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 70px;

}

.left {
    display: flex;
    flex-direction: column;

}


.logo {
    font-size: 32px;
    color: #F9FAF8;
    font-weight: 700;
    padding-bottom: 70px;
}

.textone {
    font-weight: 18px;
    color: #E5e7eb;
    width: 390px;
    margin-top: 10px;
}

h4  { 
    font-size: 48px;
    font-weight: bolder;
    padding: 0;
    margin: 0;
    width: 500px;
    
}

button {
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
    width: 120px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
}


.right {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin:0px;
    padding:0px;
    font-size: 20px;
    gap: 12px;
    padding-bottom: 90px;
}

img {
    width: 500px;
    height: 230px;
}


.TWO {
    background-color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    padding-bottom: 100px;
}

.title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800; 


}

.container {
    display: flex;
    justify-content: center;
    
}

.info {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square {
    background: transparent;
    border: 3px solid #3882f6; 
    width: 140px;
    height: 140px;
    border-radius: 20px;
    margin-top: 40px;

}

.text {
    color: darkgray;
    font-size: 18px;
    font-weight: 600px; 
    margin-top: 10px;

}


.THREE {
    background-color: #e5e7eb;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content:center; 

}


.quotes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.quote {
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
    


}

.thor {
    color: #1F2937;
    font-weight: bold;
    font-size: 20px;
    margin-left: 550px;


}

.FOUR {
    background-color: white; 
    padding-top: 6rem;
    padding-bottom: 6rem;
    display: flex;
    justify-content: center;
}


.leftfour {
    background-color: #3882f6;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-top: 40px;
    padding-bottom: 50px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

}

#buttonfour {
    border: 2px solid white;
    margin-left: 350px;
}

.rightfour {
    background-color: #3882f6;
    display: flex;
    align-items:flex-end; 
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 50px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

}

.FOOTER {
    background-color: #1F2937;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: auto;
    display: flex;
    justify-content: center;
}